* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.square{
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    width: 400px;
    height: 400px;
    border: 2px solid orange;
    user-select: none;
    .gem{
        position: absolute;
        outline: 1px solid green;
        transition: .2s all;
    }
    #zero.gem{
        outline: none;
    }
    .moveable{
        background-color: palegreen;
    }
}

.restartBtn, .pauseBtn{
    width: 100px;
    height: 60px;
    border: 2px solid red;
}

