* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.square{
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    width: 400px;
    height: 400px;
    border: 2px solid orange;
    user-select: none;
    .gem{
        position: absolute;
        outline: 1px solid green;
        transition: .2s all;
    }
    #zero.gem{
        outline: none;
    }
    .moveable{
        background-color: palegreen;
    }
    .pauseModal{
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      font-size: 7vw;
      text-align: center;
      padding-top: 30%;
      color: #75dee3;
      z-index: 5;
    }
    .pauseModal.hidden{
      display: none;
    }
}

.restartBtn, .pauseBtn, .saveBtn, .loadBtn, .scoreBtn{
    width: 100px;
    height: 60px;
    border: 2px solid red;
}

.winModal{
  position: fixed;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);

  z-index: 5;
}
.winModalMessage{
  margin: 0 auto;
  padding: 10px;
  padding-top: 20px;
  width: 290px;
  height: 240px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: #75dee3;
  z-index: 6;
}
.winModal.hidden{
  display: none;
}

